.wrapper {
    background-color: #f8f9fa;
    background-image: radial-gradient(#2b3035 0.6000000000000001px, #f8f9fa 0.6000000000000001px);
    background-size: 12px 12px;
}

#books {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10vh;
}

.bookcase {
    width: 260px;
    height: 54vh;
    margin: 10px;
    padding: 20px;
    background-color: transparent;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    font-size: 14px;
    color: #2b3035;
    text-align: center;
}

.bookcase:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.bookcase img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}