#footer {
    width: 100%;
    height: 10vh;
    background-color: #f1f5f9;
    color: #58595b;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.footer-right ul li a {
    text-decoration: none;
    color: #58595b;
    transition: .4s ease-in-out;
}

.footer-right ul li a:hover {
    color: #000;
}

.footer-right ul li {
    display: inline-block;
    margin-right: 20px;
    transition: .4s ease-in-out;
}

.footer-content p {
    color: #58595b;
}