@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    font-family: "Inter", sans-serif;
    background: #f8f9fa;
}

#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 60px;
    position: fixed;
    z-index: 999;
    background: #2b3035;
    box-shadow: 0 3px 4px 0 hsla(0, 0%, 0%, 0.1);
}


#menu li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    transition: .3s ease-in-out;
}

#menu li a:hover {
    color: #20c997;
}

#logo {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    background: #20c997;
    cursor: pointer;
    color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
    margin: 5px;
    transition: .2s ease-in-out;
}

#logo:hover {
    transform: scale(0.9);
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 600px) {
    #header {
        padding: 44px 40px;
        background: #2b3035;
    }

    .nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .nav ul {
        text-align: center;
        margin-top: 15px;
    }

    .nav ul li {
        margin-bottom: 10px;
    }

    .nav ul a {
        display: block;
        font-size: 1.1rem;
        text-align: center;
    }

    #logo {
        display: none;
    }
}