@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 100%;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to top, #5d4992, #c57896);
    height: 100%;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: fixed;
    z-index: 999;
    background: transparent;
    backdrop-filter: blur(5px);
}

#menu li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a {
    color: #ffe5ec;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s ease-in-out;
}

#menu li a:hover {
    color: #644c92;
}

#logo {
    font-size: medium;
    cursor: pointer;
    text-transform: uppercase;
    transition: opacity 0.3s;
    color: #ffe5ec;
}

#logo:hover {
    animation: blink 1s infinite;
}

section {
    width: 100%;
    float: left;
    position: relative;
    overflow-y: auto;
}

.icons {
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@media (width < 600px) {
    
    header {
        padding: 44px 40px;
    }

    .nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }

    .nav ul {
        padding: 20px;

        .nav ul li {
            margin-bottom: 10px;
        }

        .nav ul a {
            display: block;
            font-size: 1.1rem;
            text-align: center;
        }
    }

    #logo {
        display: none;
    }    
}