.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
    overflow: hidden;
    background: url(./../assets/priscilla-du-preez-GgtxccOjIXE-unsplash.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.box-left {
    background-color: transparent;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    width: 30%;
    height: 50vh;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}

.box-right {
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    width: 45%;
    height: 50vh;
    background: url(./../assets/top10-fiction-1600x800.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.box-left h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 34px;
    margin-bottom: 10px;
    color: #fff;
}

.box-left p {
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 20px;
    color: #fff
}

.box-left button {
    padding: 15px 30px;
    font-size: 1rem;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.box-left button:hover {
    border: 1px solid #050200;
    background: #050200;
}


@media (width < 1200px) {
    .container {
        flex-direction: column;
    }

    .box-left {
        width: 80%;
        height: auto;
    }

    .box-right {
        display: none;
    }

    .box-left h1,
    p {
        font-size: auto;
    }
}