  .top {
    --offset: 100px; /* control when the button appear */
    position: fixed;
    bottom: 40px;      
    margin-right: 10px; 
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    width: 60px;
    aspect-ratio: 1;
    background: #222222;
    border-radius: 10px;
    font-size: 0;
  }
    
  .top:before {
    content: "";
    position: absolute;
    inset: 30%;
    transform: translateY(20%) rotate(-45deg);
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
  }
  
  html,
  body {
    scroll-behavior: smooth;
  }